/* bannner */
html,
body {
    margin: 0;
    
}

.text-center {
    text-align: center;
}

.banner {
    background: #3b583d;
    width: 33%;
    max-width: none;
    margin: 0 auto;
}

.banner__content {
    padding: 16px;
    display: flex;
    align-items: center;
}

.banner__text {
    flex-grow: 1;
    line-height: 0.5;
    font-family: "Quicksand", sans-serif;
}

.banner__close {
    background: none;
    border: none;
    cursor: pointer;
}

.banner__text,
.banner__close>span {
    color: #ffffff;
}


/* form */

/* form */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
input[type=file],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 10px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 15px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    float: right;
    background-color: #1c1c1c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #1D4625;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* table pagination */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #adacac;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #1c1c1c;
    color: #e6e7e8;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #512a10;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 15px;
    background-color: #1c1c1c;
    color: #e6e7e8;
}

@media screen and (max-width: 768px) {

    th,
    td {
        padding: 5px;
    }

    td img {
        height: 40px;
        width: 40px;
        border: 3px solid #e6e7e8;
    }

    td button {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    td button {
        font-size: 10px;
        padding: 4px 8px;
    }
}